<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.model.UnicomHistory" >
    <result column="iccid" property="iccid" jdbcType="VARCHAR" />
    <result column="imsi" property="imsi" jdbcType="VARCHAR" />
     <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">  
    insert into u_history_temp (iccid ,money,update_date ,remark , imsi , packageType , packageDetail  )  
    values   
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.iccid},#{item.money},#{item.updateDate} , #{item.remark},
        #{item.imsi},#{item.packageType},#{item.packageDetail} )  
    </foreach>  
  </insert>  
   <insert id="insert" parameterType="com.model.UnicomHistory" >
     insert into u_history_temp (iccid ,money,update_date ,remark , imsi , packageType , packageDetail  )  
    values 
    (#{iccid},#{money},#{updateDate} , #{remark},
        #{imsi},#{packageType},#{packageDetail} )  
  </insert> 
  <insert id="insertData"  useGeneratedKeys="true">  
  		insert into u_history  (  iccid , money ,update_date ,remark , imsi , packageType , packageDetail)  
	     select distinct  iccid , money ,update_date  ,remark , imsi , packageType , packageDetail from u_history_temp 
		  
  </insert> 
  <delete id="deleteAll" >
	  delete from u_history_temp
  </delete>
</mapper>