<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MlbCmccCardMapper">
  <resultMap id="BaseResultMap" type="com.model.MlbCmccCard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="simId" jdbcType="INTEGER" property="simid" />
    <result column="sim" jdbcType="VARCHAR" property="sim" />
    <result column="packageName" jdbcType="VARCHAR" property="packagename" />
    <result column="bootState" jdbcType="VARCHAR" property="bootstate" />
    <result column="expireTime" jdbcType="VARCHAR" property="expiretime" />
    <result column="oddTime" jdbcType="VARCHAR" property="oddtime" />
    <result column="amountUsageData" jdbcType="DOUBLE" property="amountusagedata" />
    <result column="flowLeftValue" jdbcType="DOUBLE" property="flowleftvalue" />
    <result column="monthUsageData" jdbcType="DOUBLE" property="monthusagedata" />
    <result column="totalMonthUsageFlow" jdbcType="DOUBLE" property="totalmonthusageflow" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="holdName" jdbcType="VARCHAR" property="holdName" />
    <result column="packagePeriodSrc" jdbcType="VARCHAR" property="packagePeriodSrc" />
    <result column="activeTime" jdbcType="VARCHAR" property="activeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, guid, simId, sim, packageName, bootState, expireTime, oddTime, amountUsageData, 
    flowLeftValue, monthUsageData, totalMonthUsageFlow ,createTime
    , activeTime,holdName ,packagePeriodSrc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mlb_cmcc_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectByIccid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mlb_cmcc_card
    where guid = #{guid,jdbcType=INTEGER}
  </select>
  
   <select id="selectNoSIM" parameterType="java.lang.String" resultType="java.lang.String">
     select  simid from mlb_cmcc_card where  sim  is null  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mlb_cmcc_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.MlbCmccCard">
    insert into mlb_cmcc_card (id, guid, simId, 
      sim, packageName, bootState, 
      expireTime, oddTime, amountUsageData, 
      flowLeftValue, monthUsageData, totalMonthUsageFlow , 
      )
    values (#{id,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}, #{simid,jdbcType=INTEGER}, 
      #{sim,jdbcType=VARCHAR}, #{packagename,jdbcType=VARCHAR}, #{bootstate,jdbcType=VARCHAR}, 
      #{expiretime,jdbcType=VARCHAR}, #{oddtime,jdbcType=VARCHAR}, #{amountusagedata,jdbcType=DOUBLE}, 
      #{flowleftvalue,jdbcType=DOUBLE}, #{monthusagedata,jdbcType=DOUBLE}, #{totalmonthusageflow,jdbcType=DOUBLE}
      )
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">  
    insert into mlb_cmcc_card_copy (guid, simid, 
      sim, packageName, bootState, 
      expireTime, oddTime, amountUsageData, 
      flowLeftValue, monthUsageData, totalMonthUsageFlow  )  
    values   
    <foreach collection="list" item="item" index="index" separator="," >  
        ( #{item.guid}, #{item.simid}, #{item.sim},
      #{item.packagename}, #{item.bootstate}, #{item.expiretime}, 
      #{item.oddtime}, #{item.amountusagedata}, #{item.flowleftvalue} 
      , #{item.monthusagedata}, #{item.totalmonthusageflow}
      ) 
    </foreach>  
  </insert> 
  
  <update id="updateBatch" parameterType="java.util.List">
        update mlb_cmcc_card
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="holdName =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.holdName}
                </foreach>
            </trim>
            <trim prefix="packagePeriodSrc =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.packagePeriodSrc}
                </foreach>
            </trim>
            <trim prefix="packagename =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.packagename}
                </foreach>
            </trim>
            <trim prefix="activeTime =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.activeTime}
                </foreach>
            </trim>
        </trim>
        where simId in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.simid,jdbcType=INTEGER}
        </foreach>
    </update> 
  
  <insert id="insertSelective" parameterType="com.model.MlbCmccCard">
    insert into mlb_cmcc_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="guid != null">
        guid,
      </if>
      <if test="simid != null">
        simId,
      </if>
      <if test="sim != null">
        sim,
      </if>
      <if test="packagename != null">
        packageName,
      </if>
      <if test="bootstate != null">
        bootState,
      </if>
      <if test="expiretime != null">
        expireTime,
      </if>
      <if test="oddtime != null">
        oddTime,
      </if>
      <if test="amountusagedata != null">
        amountUsageData,
      </if>
      <if test="flowleftvalue != null">
        flowLeftValue,
      </if>
      <if test="monthusagedata != null">
        monthUsageData,
      </if>
      <if test="totalmonthusageflow != null">
        totalMonthUsageFlow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="simid != null">
        #{simid,jdbcType=INTEGER},
      </if>
      <if test="sim != null">
        #{sim,jdbcType=VARCHAR},
      </if>
      <if test="packagename != null">
        #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="bootstate != null">
        #{bootstate,jdbcType=VARCHAR},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=VARCHAR},
      </if>
      <if test="oddtime != null">
        #{oddtime,jdbcType=VARCHAR},
      </if>
      <if test="amountusagedata != null">
        #{amountusagedata,jdbcType=DOUBLE},
      </if>
      <if test="flowleftvalue != null">
        #{flowleftvalue,jdbcType=DOUBLE},
      </if>
      <if test="monthusagedata != null">
        #{monthusagedata,jdbcType=DOUBLE},
      </if>
      <if test="totalmonthusageflow != null">
        #{totalmonthusageflow,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.MlbCmccCard">
    update mlb_cmcc_card
    <set>
      <if test="guid != null">
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="simid != null">
        simId = #{simid,jdbcType=INTEGER},
      </if>
      <if test="sim != null">
        sim = #{sim,jdbcType=VARCHAR},
      </if>
      <if test="packagename != null">
        packageName = #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="bootstate != null">
        bootState = #{bootstate,jdbcType=VARCHAR},
      </if>
      <if test="expiretime != null">
        expireTime = #{expiretime,jdbcType=VARCHAR},
      </if>
      <if test="oddtime != null">
        oddTime = #{oddtime,jdbcType=VARCHAR},
      </if>
      <if test="amountusagedata != null">
        amountUsageData = #{amountusagedata,jdbcType=DOUBLE},
      </if>
      <if test="flowleftvalue != null">
        flowLeftValue = #{flowleftvalue,jdbcType=DOUBLE},
      </if>
      <if test="monthusagedata != null">
        monthUsageData = #{monthusagedata,jdbcType=DOUBLE},
      </if>
      <if test="totalmonthusageflow != null">
        totalMonthUsageFlow = #{totalmonthusageflow,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.MlbCmccCard">
    update mlb_cmcc_card
    set guid = #{guid,jdbcType=VARCHAR},
      simId = #{simid,jdbcType=INTEGER},
      sim = #{sim,jdbcType=VARCHAR},
      packageName = #{packagename,jdbcType=VARCHAR},
      bootState = #{bootstate,jdbcType=VARCHAR},
      expireTime = #{expiretime,jdbcType=VARCHAR},
      oddTime = #{oddtime,jdbcType=VARCHAR},
      amountUsageData = #{amountusagedata,jdbcType=DOUBLE},
      flowLeftValue = #{flowleftvalue,jdbcType=DOUBLE},
      monthUsageData = #{monthusagedata,jdbcType=DOUBLE},
      totalMonthUsageFlow = #{totalmonthusageflow,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>