<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MlbUnicomCardMapper">
  <resultMap id="BaseResultMap" type="com.model.MlbUnicomCard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="simid" jdbcType="VARCHAR" property="simid" />
    <result column="packageName" jdbcType="VARCHAR" property="packagename" />
    <result column="simState" jdbcType="VARCHAR" property="simstate" />
    <result column="expireTime" jdbcType="VARCHAR" property="expiretime" />
    <result column="oddTime" jdbcType="VARCHAR" property="oddtime" />
    <result column="dayUsageData" jdbcType="DOUBLE" property="dayusagedata" />
     <result column="monthUsageData" jdbcType="DOUBLE" property="monthUsageData" />
      <result column="flowLeftValue" jdbcType="DOUBLE" property="flowLeftValue" />
    <result column="amountUsageData" jdbcType="DOUBLE" property="amountusagedata" />
    <result column="totalMonthUsageFlow" jdbcType="DOUBLE" property="totalmonthusageflow" />
     <result column="sim" jdbcType="VARCHAR" property="sim" />
    <result column="holdName" jdbcType="VARCHAR" property="holdname" />
     <result column="lastActiveTime" jdbcType="VARCHAR" property="lastactivetime" />
    <result column="flowLeftTime" jdbcType="VARCHAR" property="flowlefttime" />
    <result column="outWarehouseDate" jdbcType="VARCHAR" property="outWarehouseDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, guid, simid, packageName, simState, expireTime, oddTime, dayUsageData, amountUsageData, 
    totalMonthUsageFlow ,sim , holdName,lastActiveTime,flowLeftTime,outWarehouseDate,remark 
    ,monthUsageData,flowLeftValue
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mlb_unicom_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByIccid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mlb_unicom_card
    where guid = #{guid,jdbcType=INTEGER}
  </select>
  
   <select id="selectNoSIM" parameterType="java.lang.String" resultType="java.lang.String">
     select  simid from mlb_unicom_card where  sim  is null  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mlb_unicom_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.MlbUnicomCard">
    insert into mlb_unicom_card (id, guid, packageName, 
      simState, expireTime, oddTime, 
      dayUsageData, amountUsageData, totalMonthUsageFlow
       ,monthUsageData,flowLeftValue
      )
    values (#{id,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}, #{packagename,jdbcType=VARCHAR}, 
      #{simstate,jdbcType=VARCHAR}, #{expiretime,jdbcType=VARCHAR}, #{oddtime,jdbcType=VARCHAR}, 
      #{dayusagedata,jdbcType=DOUBLE}, #{amountusagedata,jdbcType=DOUBLE}, #{totalmonthusageflow,jdbcType=DOUBLE}
      , #{monthUsageData,jdbcType=DOUBLE}, #{flowLeftValue,jdbcType=DOUBLE}
      )
  </insert>
   <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">  
    insert into mlb_unicom_card_copy (guid,simid, packageName, 
      simState, expireTime, oddTime, 
      dayUsageData, amountUsageData, totalMonthUsageFlow,sim , 
      holdName,lastActiveTime,flowLeftTime,outWarehouseDate,remark 
       ,monthUsageData,flowLeftValue 
        ,imsi)  
    values   
    <foreach collection="list" item="item" index="index" separator="," >  
        ( #{item.guid},#{item.simid}, #{item.packagename}, 
      #{item.simstate}, #{item.expiretime}, #{item.oddtime}, 
      #{item.dayusagedata}, #{item.amountusagedata}, #{item.totalmonthusageflow},
       #{item.sim}, #{item.holdname}, #{item.lastactivetime}, 
      #{item.flowlefttime}, #{item.outWarehouseDate}, #{item.remark},
       #{item.monthUsageData}, #{item.flowLeftValue},#{item.imsi}
      ) 
    </foreach>  
  </insert> 
   <update id="updateBatch" parameterType="java.util.List">
        update mlb_unicom_card
        <trim prefix="set" suffixOverrides=",">
        	  <trim prefix="packageName =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.packagename}
                </foreach>
            </trim>
            <trim prefix="simState =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.simstate}
                </foreach>
            </trim>
            <trim prefix="expireTime =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.expiretime}
                </foreach>
            </trim>
        	 <trim prefix="oddTime =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.oddtime}
                </foreach>
            </trim>
             <trim prefix="dayUsageData =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.dayusagedata}
                </foreach>
             </trim>
        	 <trim prefix="amountUsageData =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.amountusagedata}
                </foreach>
             </trim>
        	<trim prefix="totalMonthUsageFlow =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.totalmonthusageflow}
                </foreach>
             </trim>
        	<trim prefix="holdName =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.holdname}
                </foreach>
             </trim>
             <trim prefix="lastactivetime =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.lastactivetime}
                </foreach>
            </trim>
            <trim prefix="flowlefttime =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.flowlefttime}
                </foreach>
            </trim>
            <trim prefix="remark =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.remark}
                </foreach>
             </trim>
        	<trim prefix="monthUsageData =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.monthUsageData}
                </foreach>
             </trim>
        	<trim prefix="flowLeftValue =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when simId=#{item.simid} then #{item.flowLeftValue}
                </foreach>
             </trim>
        </trim>
        where simId in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.simid,jdbcType=INTEGER}
        </foreach>
    </update> 
  <insert id="insertSelective" parameterType="com.model.MlbUnicomCard">
    insert into mlb_unicom_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="guid != null">
        guid,
      </if>
      <if test="packagename != null">
        packageName,
      </if>
      <if test="simstate != null">
        simState,
      </if>
      <if test="expiretime != null">
        expireTime,
      </if>
      <if test="oddtime != null">
        oddTime,
      </if>
      <if test="dayusagedata != null">
        dayUsageData,
      </if>
      <if test="amountusagedata != null">
        amountUsageData,
      </if>
      <if test="totalmonthusageflow != null">
        totalMonthUsageFlow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="packagename != null">
        #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="simstate != null">
        #{simstate,jdbcType=VARCHAR},
      </if>
      <if test="expiretime != null">
        #{expiretime,jdbcType=VARCHAR},
      </if>
      <if test="oddtime != null">
        #{oddtime,jdbcType=VARCHAR},
      </if>
      <if test="dayusagedata != null">
        #{dayusagedata,jdbcType=DOUBLE},
      </if>
      <if test="amountusagedata != null">
        #{amountusagedata,jdbcType=DOUBLE},
      </if>
      <if test="totalmonthusageflow != null">
        #{totalmonthusageflow,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.MlbUnicomCard">
    update mlb_unicom_card
    <set>
      <if test="guid != null">
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="packagename != null">
        packageName = #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="simstate != null">
        simState = #{simstate,jdbcType=VARCHAR},
      </if>
      <if test="expiretime != null">
        expireTime = #{expiretime,jdbcType=VARCHAR},
      </if>
      <if test="oddtime != null">
        oddTime = #{oddtime,jdbcType=VARCHAR},
      </if>
      <if test="dayusagedata != null">
        dayUsageData = #{dayusagedata,jdbcType=DOUBLE},
      </if>
      <if test="amountusagedata != null">
        amountUsageData = #{amountusagedata,jdbcType=DOUBLE},
      </if>
      <if test="totalmonthusageflow != null">
        totalMonthUsageFlow = #{totalmonthusageflow,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.MlbUnicomCard">
    update mlb_unicom_card
    set guid = #{guid,jdbcType=VARCHAR},
      packageName = #{packagename,jdbcType=VARCHAR},
      simState = #{simstate,jdbcType=VARCHAR},
      expireTime = #{expiretime,jdbcType=VARCHAR},
      oddTime = #{oddtime,jdbcType=VARCHAR},
      dayUsageData = #{dayusagedata,jdbcType=DOUBLE},
      amountUsageData = #{amountusagedata,jdbcType=DOUBLE},
      totalMonthUsageFlow = #{totalmonthusageflow,jdbcType=DOUBLE},
      flowLeftValue=#{flowLeftValue,jdbcType=DOUBLE},
       monthUsageData=#{monthUsageData,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>